name: "OMMAT CiCd"
on:
  push:
    branches: ["Test"]
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run command on remote server
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{secrets.SSH_HOST}}
          user: ${{secrets.SSH_USER}}
          port: ${{secrets.SSH_PORT}}
          private_key: ${{secrets.SSH_PRIVATE_KEY}}
          command: |
            cd ${{ secrets.PROJECT_FOLDER }};
            git checkout main;
            git pull;
            #docker-compose --file docker-compose.prod.yml down;
            #docker-compose --file docker-compose.prod.yml up -d;
            #docker system prune --all --force;
